<!-- V tomto HTML kódu je vytvořen formulář pro vytvoření adresy pojištěnce. -->

{% load static %} 

<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8"> <!-- Specifikace kódování dokumentu -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responzivní nastavení pro mobilní zařízení -->
    <title>Adresa pojištěnce</title>
    <link rel="stylesheet" href="{% static 'myclient/formulare.css' %}"> <!-- Připojení externího CSS souboru -->
</head>

<body>
    <div class="container"> <!-- Hlavní kontejner pro obsah stránky -->

        <h1>Adresa pojištěnce</h1> <!-- Nadpis stránky -->

        <form method="post"> <!-- Začátek formuláře s metodou POST -->
            {% csrf_token %} <!-- Token pro ochranu před CSRF útoky -->

            <!-- Sekce pro vložení ulice -->
            <label for="ulice">Ulice:</label>
            <input type="text" id="ulice" name="ulice" required>

            <!-- Sekce pro vložení čísla popisného -->
            <label for="cislo_popisne">Číslo popisné:</label>
            <input type="text" id="cislo_popisne" name="cislo_popisne" required>

            <!-- Sekce pro vložení města -->
            <label for="mesto">Město:</label>
            <input type="text" id="mesto" name="mesto" required>

            <!-- Sekce pro vložení PSČ -->
            <label for="psc">PSČ:</label>
            <input type="text" id="psc" name="psc" required>

            <!-- Tlačítko pro odeslání formuláře -->
            <button type="submit">Uložit bydliště</button>
        </form>

        <a href="{% url 'index' %}">Zpět na úvodní stránku</a> <!-- Odkaz na úvodní stránku -->

    </div> <!-- Konec hlavního kontejneru -->

    <!-- Logo aplikace -->
    <img src="/static/myclient/images/logo_aplikace.png" alt="Logo" class="logo-img">    
</body>
</html>
